.about {
    background-color: #f8f8f8;
    margin: auto;
    margin-bottom: 2rem;
    padding: 6rem 1rem 6rem 1rem;
    width: 100%;
}

.about h2{
    font-size: 3rem;
    text-align: center;
}

.image-col{
    margin-top: 2rem;
}

.image-col img{
    margin: auto;
    display: block;
    padding: 0rem;
    width: 340px;
    border-radius: 50%;
}

.description-col{
    margin-top: 2rem;
    text-align: justify;
}

.about th{
    padding: 0.5rem 1rem 0.5rem 0rem;
    text-decoration: none;
    font-weight: normal;
}








